
body{
   background-color: #222222;
}
.header__title :hover{
   text-shadow: #ffffff;
}
.header__title a{
   color: #ffffff;
}
.header__title a:hover{
   text-shadow: 0px 1px 4px #4BCAFF;
}
.header__title-blue{
   color: #4BCAFF;
}
.header__menu {
   background: #4e697c;
}
.header__menu-item {
   border: 0px solid #222222;
   border-left-width: 1px;
}
.header__menu-item:hover {
   background: #222F3A;
}
.header__menu-item a{
   color: #4BCAFF;
}
.btn-change-color{
   background: #4e697c;
   color: #4BCAFF;
}
.btn-change-color:hover {
   background: #222F3A;
}

/*------Main content------*/
.main__aside {
   border: 1px solid #ffffff;
}
.aside__menu-item:hover {
   background: #dbdbdb86;
}
.aside__menu-item a{
   color: #4BCAFF;
}
.aside__menu-item a:hover{
   color: #ffffff;
}
.main__content-img{
   border: 1px solid #ffffff;
}
.main__content-text {
   color: #ffffff;
}

/*------Footer------*/
.footer {
   background: rgba(99, 105, 110, 0.48);
}
.footer__menu-item a{
   color: #4BCAFF;
}
.footer__menu-item a:hover{
   color:#3181A6;
   border: 1px solid #3181A6;
}
.footer__text {
   color: #ffffff;
}