body{
   background-color: #FFFFFF;
}

.header__title :hover{
   text-shadow: #000000;
}
.header__title a{
   color: #000000;
}
.header__title a:hover{
   text-shadow: 0px 1px 4px #4BCAFF;
}
.header__title-blue{
   color: #4BCAFF;
}
.header__menu {
   background: #35444F;
}
.header__menu-item {
   border: 0px solid #FFFFFF;
   border-left-width: 1px;
}
.header__menu-item:hover {
   background: #222F3A;
}
.header__menu-item a{
   color: #FFFFFF;
}
.btn-change-color{
   background: #35444F;
   color: #FFFFFF;
}
.btn-change-color:hover {
   background: #222F3A;
}

/*------Main content------*/
.main__aside {
   border: 1px solid #000000;
}
.aside__menu-item:hover {
   background: #DBDBDB;
}
.aside__menu-item a{
   color: #485863;
}
.aside__menu-item a:hover{
   color: #000000;
}
.main__content-img{
   border: 1px solid #000000;
}
.main__content-text {
   color: #2C2C2C;
}

/*------Footer------*/
.footer {
   background: rgba(99, 105, 110, 0.48);
}
.footer__menu-item a{
   color: #0C1927;
}
.footer__menu-item a:hover{
   color:#3181A6;
   border: 1px solid #3181A6;
}
.footer__text {
   color: #010101;
}