@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*-----Start CSS Reset style------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
menu li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----End CSS Reset style------*/

/*------General------*/
body{
   background-color: #FFFFFF;
}

.wrapper {
   font-family: 'Roboto';
   font-style: normal;
   text-align: center;
   font-weight: 400;
   width: 90%; 
   max-width: 1280px; 
   margin: 0 auto;
   padding: 0 0 30px 0;
}

/*------Header------*/
.header {
   margin: 63px 0 48px 0;
   text-align: center;
}
.header__title {
   font-size: 80px;
   line-height: 94px;
   text-align: left;
}
.header__title :hover{
   text-shadow: #000000;
}
.header__title a{
   transition-duration: 1s;
   color: #000000;
}
.header__title a:hover{
   transition-duration: 1s;
   text-shadow: 0px 1px 4px #4BCAFF;
}
.header__title-blue{
   color: #4BCAFF;
}
.header__menu {
   margin-top: 38px;
   background: #35444F;
   text-align: center;
}
.header__menu-items {
   display: inline-flex;
   font-size: 24px;
   line-height: 28px;
}
.header__menu-item {
   border: 0px solid #FFFFFF;
   border-left-width: 1px;
   transition-duration: 0.5s;
}
.header__menu-item:hover {
   transition-duration: 0.5s;
   background: #222F3A;
}
.header__menu-item:last-child{
   border-width: 0 1px 0 1px;
}
.header__menu-item a{
   display: block;
   padding: 26px 33px 19px 32px;
   color: #FFFFFF;
}
.btn-change-color{
   transition-duration: 0.5s;
   font-size: 24px;
   line-height: 28px;
   padding: 26px 33px 19px 32px;
   background: #35444F;
   color: #FFFFFF;
}
.btn-change-color:hover {
   transition-duration: 0.5s;
   background: #222F3A;
}

/*------Main content------*/
.main {
   
}
.main-container{
   display: flex;
   align-items: flex-start;
}
.main__aside {
   width: 344px;
   border: 1px solid #000000;
}
.aside__menu {
   display: flex;
   flex-direction: column;
   font-size: 27px;
   line-height: 27px;
   /* identical to box height, or 100% */
}
.aside__menu-item {
   text-align: left;
   transition-duration: 1s;
}
.aside__menu-item:hover {
   transition-duration: 1s;
   background: #DBDBDB;
}
.aside__menu-item a{
   padding: 26px 0 26px 42px;
   display: inline-block;
   transition-duration: 1s;
   color: #485863;
}
.aside__menu-item a:hover{
   color: #000000;
   display: inline-block;
   transition-duration: 1s;
   transform: translate(20px, 0);
}
.main__content {
   margin-left: 51px;
   max-width: 885px;
}
.main__content-img{
   padding: 74px 0 72px 0;
   border: 1px solid #000000;
}
.main__content-img img{
   transition-duration: 1s;
   max-width: 36.15%;
}
.main__content-img img:hover{
   transition-duration: 1s;
   transform: scale(1.2, 1.2);
}
.main__content-text {
   margin-top: 34px;
   text-align: left;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   /* or 133% */
   color: #2C2C2C;
}
.main__content-text:first-child{
   margin-top: 37px;
}

/*------Footer------*/
.footer {
   margin: 45px 0 0 0;
   background: rgba(99, 105, 110, 0.48);
}
.footer-container{
   display: flex;
   align-items: center;
}
.footer__menu {
   margin: 20px 0 21px 40px;
   display: inline-flex;
   font-size: 28px;
   line-height: 28px;
   /* identical to box height, or 100% */
   align-items: center;
}
.footer__menu-item{
   margin-right: 34px;
}
.footer__menu-item:last-child{
   margin-right: 0px;
}
.footer__menu-item a{
   color: #0C1927;
   transition-duration: 0.5s;
}
.footer__menu-item a:hover{
   transition-duration: 0.5s;
   color:#3181A6;
   border: 1px solid #3181A6;
   border-width: 0 0 1px 0;
}
.footer__text {
   margin: 0 40px 0 auto;
   font-size: 24px;
   line-height: 24px;
   /* or 100% */
   color: #010101;
}